In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [4]:
print(df["Actor"])

0         Shah Rukh Khan
1            Salman Khan
2             Aamir Khan
3          Ranbir Kapoor
4          Ranveer Singh
5     Ayushmann Khurrana
6          Rajkummar Rao
7         Hrithik Roshan
8           Akshay Kumar
9          Kartik Aaryan
10          Varun Dhawan
11         Vicky Kaushal
Name: Actor, dtype: object

In [10]:
df[["Film","Year","IMDb"]]

                        Film  Year  IMDb
0                    Pathaan  2023   7.2
1            Tiger Zinda Hai  2017   6.0
2                     Dangal  2016   8.4
3                 Brahmastra  2022   5.6
4                  Padmaavat  2018   7.0
5                  Andhadhun  2018   8.3
6                      Stree  2018   7.5
7                        War  2019   6.5
8                 Good Newwz  2019   7.0
9          Bhool Bhulaiyaa 2  2022   5.9
10     Badrinath Ki Dulhania  2017   6.1
11  Uri: The Surgical Strike  2019   8.2

In [18]:
df.loc[[0]]

            Actor     Film  Year   Genre  BoxOffice(INR Crore)  IMDb
0  Shah Rukh Khan  Pathaan  2023  Action                  1050   7.2

In [20]:
df.iloc[[1,3]]

           Actor             Film  Year    Genre  BoxOffice(INR Crore)  IMDb
1    Salman Khan  Tiger Zinda Hai  2017   Action                   565   6.0
3  Ranbir Kapoor       Brahmastra  2022  Fantasy                   431   5.6

In [21]:
df.loc[9,"Actor"]

'Kartik Aaryan'

In [23]:
df.iloc[9,1]

'Bhool Bhulaiyaa 2'

In [29]:
df.loc[0:5:1,["Actor","Film"]]

                Actor             Film
0      Shah Rukh Khan          Pathaan
1         Salman Khan  Tiger Zinda Hai
2          Aamir Khan           Dangal
3       Ranbir Kapoor       Brahmastra
4       Ranveer Singh        Padmaavat
5  Ayushmann Khurrana        Andhadhun

In [30]:
df.iloc[0:5:1,0:2]

            Actor             Film
0  Shah Rukh Khan          Pathaan
1     Salman Khan  Tiger Zinda Hai
2      Aamir Khan           Dangal
3   Ranbir Kapoor       Brahmastra
4   Ranveer Singh        Padmaavat

In [33]:
df.at[9,"Film"]

'Bhool Bhulaiyaa 2'

In [36]:
df.iat[9,1]

'Bhool Bhulaiyaa 2'

In [37]:
df[df["IMDb"]>6]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [38]:
df[df["IMDb"]>6]["Actor"]

0         Shah Rukh Khan
2             Aamir Khan
4          Ranveer Singh
5     Ayushmann Khurrana
6          Rajkummar Rao
7         Hrithik Roshan
8           Akshay Kumar
10          Varun Dhawan
11         Vicky Kaushal
Name: Actor, dtype: object

In [40]:
df[(df["IMDb"]>6) & (df["Year"] > 2018 )]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [42]:
df[(df["IMDb"]>6) | (df["Year"] < 2018 )]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [53]:
df.query(" `BoxOffice(INR Crore)` >= 585 ")

            Actor       Film  Year       Genre  BoxOffice(INR Crore)  IMDb
0  Shah Rukh Khan    Pathaan  2023      Action                  1050   7.2
2      Aamir Khan     Dangal  2016   Biography                  2024   8.4
4   Ranveer Singh  Padmaavat  2018  Historical                   585   7.0